html, body {
    height : 100%; 
    background-color: #f5deb3; 
    margin : 0px; 
}

.heading {
    text-align: center;
    padding : .001rem; 
    background-color: #222222;
    color : #f5deb3;
}

/*form-div*/
.form-div {
    text-align: center;
    margin : 20px 0px; 
    font-size : 24px; 
    font-weight: bolder;    
}

#title, #body{
    width : 550px; 
    background-color: #a0522d;
    font-size: 20px;
    border-radius: 10px;
    color : white;
    border : 0px; 
    padding: 1rem;
}

input::placeholder, textarea::placeholder{
    color : burlywood; 
}

#title {
    height : 30px; 
    
}
#body { 
    height: 120px; 
}

/*posting div*/
.posting-div {
    background-color: #2f4f4f;
    text-align: center;
}

.hosting-div {
    display : inline-block;
    padding: 20px;
    margin: 20px;
    background-color: #ccdbea;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 10%;
}

button, input[type="submit"], input[type="reset"]{
    background-color: #222222;
    color : white;  
    padding : 7px; 
    border-radius: 7px;
    margin : 5px; 
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: darkslategrey;
    color : white;  
    margin : 5px; 
    padding : 10px; 
    border-radius: 10px;
}

button:active, input[type="submit"]:active, input[type="reset"]:active{
    background-color: #222222;
}


#input-host-div, #textarea-host-div {
    margin: 5px;
    display: block; 
}

.change{
    border : 2px solid #332414;
    border-radius: 10px;
}

.note-card {
    max-width: 500px;
    margin: 20px auto;
    padding: 16px;
    background-color: #fff8db;
    border-left: 4px solid #d4a017;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.note-card h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #a17700;
}

.note-card ul {
    margin: 0;
    padding-left: 20px;
    color: #6b4f00;
}

.note-card ul li {
    margin-bottom: 6px;
    line-height: 1.4;
}
